@model prueba.Models.cliente
@{
    ViewData["Title"] = "Index";
    List<prueba.Models.cliente> listaClientes = ViewBag.listaClientes;
}

<h1>Index</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row card-title">
                    <div class="card-title mr-auto">
                        <h3 class="h3">Clientes</h3>
                    </div>
                    <div>
                        <a data-toggle="collapse" href="#formacreate" role="button" aria-expanded="true" aria-controls="collapseIt">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="collapse show" id="formacreate">
                        @using (Html.BeginForm("Index", "cliente", FormMethod.Post, new { @class = "form-inline", role = "form", @id = "formaId" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(x => x.id)
                            
                            <div class="form-group mr-2">
                                @Html.LabelFor(model => model.nombre, "Nombre", htmlAttributes: new { @class = "control-label mr-2" })
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", size = "40", placeholder = "Nombre" } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })

                                @Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "control-label mr-2 ml-2" })
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", size = "40", placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                                @Html.LabelFor(model => model.telefono, "Teléfono", htmlAttributes: new { @class = "control-label mr-2 ml-2" })
                                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", size = "40", placeholder = "Teléfono" } })
                                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                            </div>
                            
                            <div class="form-group mr-2 ml-2">
                                @Html.LabelFor(model => model.fecha_registro, htmlAttributes: new { @class = "control-label mr-2" })
                                @Html.EditorFor(model => model.fecha_registro, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.fecha_registro, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group mr-2 ml-2">
                                <button type="submit" class="btn btn-primary font-weight-bold" id="btnGuardar">Guardar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="datatables-reponsive" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Fecha de Registro</th>
                            <th>Estado</th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (listaClientes != null)
                        {
                            foreach (var item in listaClientes)
                            {
                                <tr id="trId_@item.id">
                                    <td>@item.nombre</td>
                                    <td>@item.email</td>
                                    <td>@item.telefono</td>
                                    <td>@item.fecha_registro?.ToString("dd/MM/yyyy")</td>
                                    <td>@item.estado</td>

                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-controller="cliente" asp-route-id="@item.id">
                                            <i class="align-middle mr-2" data-feather="edit"></i>
                                            <span class="font-weight-bold">Editar</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
